/* Fixes the antialiasing in Google Chrome. */
body { -webkit-font-smoothing: antialiased; background-image: url('../img/bg.png'); font-family: "Roboto", "Helvetica", "Verdana"; margin-right: 15px;}
body a{cursor: pointer;}
body a:hover {text-decoration: none;}

table > tbody > tr > td[status] {min-height: 50px;}

.login-form {padding-top: 10%;}

.dashboard-panel-right {padding-left: 0; padding-right: 0;}
.dashboard-panel-right .panel {margin-bottom: 15px;}

/**
 * Chart Secondary Menu CSS
 */
.secondary-menu {border-right: 1px solid #DDDDDD; margin-bottom: 10px;}
.secondary-menu > ul > li { vertical-align: middle; margin: 4px 0 4px 3px; padding: 2px;}
.secondary-menu > ul > li.header {font-size: 18px; font-weight: 500; margin-top: 0;}
.secondary-menu > ul > li:first-child { margin-top:0; }
.secondary-menu > ul > li > i.chart-icon { margin: 0 5px; font-size: 18px; }
.secondary-menu > ul > li > i.chart-icon.fa { font-size: 14px; }
.secondary-menu > ul > li.active,
.secondary-menu > ul > li.toggleable:hover { background-color: #ccc; border-radius: .2em; cursor: pointer; }

.comment-author {color: #21579D;}

/**
 * Ticket CSS.
 */
.ticket,
.log,
.log-timestamp { display: inline-block; margin: 3px; line-height: normal; font-size: 80%; font-weight: 500; }
.ticket:hover,
.log:hover { cursor: pointer; }
.ticket {margin: 6px 6px 0 6px;}
.ticket .fa-times {color: #CB1F26;}
.ticket-bug { background-color: #CB1F26; }
.ticket-task { background-color: #21579D; }
.ticket-not-owned {background-color: #3F424B;}
.ticket-code.ticket-unassigned { background-color: #E0E0E0; color: #3F424B;}
.ticket-code { color: white; border-radius: .3em; padding: 0px 0 0px 6px; display: inline-flex; align-items: center; }
.ticket-title {position: relative; left: 1px; background-color: #C3C2B8 ; color: black; padding: 3px 6px; border-radius: 0 .3em .3em 0; margin-left: 6px;}
td > .ng-scope:last-child > .ticket {margin-bottom: 6px;}

/**
 * Log entry CSS.
 */
.log { border-radius: .3em; color: white; background-color: #3F424B; padding: 3px 0px 3px 6px; vertical-align: middle; margin: 3px 3px; align-items: center;}
.log span:last-child { border-radius: 0 .3em .3em 0; }
.log-user { background-color: #C3C2B8; color: black; padding: 3px 6px; margin: 0 0px 0 3px; }
.log-target { color: white; padding: 3px 6px; margin-left: -3px; }
.log-amount,
.log-comment { margin-left: 6px; padding-right: 6px; }
.log-timestamp { display: inline; }

/**
 * Utils.
 */
.center-y {vertical-align: middle;}
.center-x {text-align: center;}
