<div class="panel panel-analytics">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 secondary-menu">
			<ul class="nav" ng-init="fetchChartData(getSubPageName());">
				<li class="header">
					Metrics
				</li>
				<li class="toggleable" ng-class="toggleActive('loggedHours')" ng-click="fetchChartData('loggedHours')"><i class="chart-icon fa fa-fw ion-arrow-graph-up-right"></i>Logged Hours</li>
				<li class="toggleable" ng-class="toggleActive('ticketCompletion')" ng-click="fetchChartData('ticketCompletion')"><i class="chart-icon fa fa-fw ion-stats-bars"></i>Ticket Completion</li>
				<li class="toggleable" ng-class="toggleActive('effortEstimation')" ng-click="fetchChartData('effortEstimation')"><i class="chart-icon fa fa-fw ion-ios7-keypad"></i>Effort vs. Estimation</li>
				<li class="toggleable" ng-class="toggleActive('assignedTickets')" ng-click="fetchChartData('assignedTickets')"><i class="chart-icon fa fa-fw ion-pie-graph"></i>Assigned Tickets</li>
			</ul>
		</div>
		<div class="col-lg-10 col-md-4 col-sm-9 col-xs-8">
			<div class="panel panel-default">
				<div class="panel-body" id='chart'></div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>
</div>
