<div class="panel">
    <div class="row">
		<div class="col-lg-2">
			<ul class="nav chart-secondary-menu">
				<li class="active"><i class="chart-icon ion-arrow-graph-up-right"></i>Logged Hours</li>
				<li><i class="chart-icon ion-stats-bars"></i>Ticket Completion</li>
				<li><i class="chart-icon ion-ios7-keypad"></i>Effort vs. Estimation</li>
				<li><i class="chart-icon ion-pie-graph"></i>Assigned Tickets</li>
			</ul>
		</div>
        <div class="col-lg-10 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body" id='chart' ng-init='chart()'></div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
