<table class="table">
	<thead>
		<th>Created</th>
		<th>In Progress</th>
		<th>Testing</th>
		<th>Fixed</th>
	</thead>
	<tbody>
		<tr>
			<td><span class="label label-danger">Email Validation Not Working<i class="fa fa-times"></i></span></td>
			<td></td>
			<td><span class="label label-danger">Minor CSS Alignment Bug<i class="fa fa-times"></i></span></td>
			<td><span class="label label-warning">Yen Currency Conversion<i class="fa fa-times"></i></span></td>
		</tr>
		<tr>
			<td></td>
			<td><span class="label label-danger">Authentication Whitespace Handling<i class="fa fa-times"></i></span></td>
			<td></td>
			<td><span class="label label-success">Registration Page Header Missing<i class="fa fa-times"></i></span></td>
		</tr>
	</tbody>
</table>