<div class="col-lg-11">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Created</th>
				<th>In Progress</th>
				<th>Testing</th>
				<th>Fixed</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bug in bugs">
				<td><span ng-if="bug.status === 'created'" class="label label-danger">{{bug.code}} | {{bug.title}}</span></td>
				<td><span ng-if="bug.status === 'in_progress'" class="label label-danger">{{bug.code}} | {{bug.title}}</span></td>
				<td><span ng-if="bug.status === 'testing'" class="label label-danger">{{bug.code}} | {{bug.title}}</span></td>
				<td><span ng-if="bug.status === 'fixed'" class="label label-danger">{{bug.code}} | {{bug.title}}</span></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-lg-1">
	<button data-toggle="modal" data-target="#ticket-modal" type="button" class="btn btn-default btn-xs">
		<i class="fa fa-plus"></i> Report Bug
	</button>

	<div class="dropdown">
		<button type="button" class="btn btn-default btn-xs dropdown-toggle" id="bugsMenu" data-toggle="dropdown">
			<i class="fa fa-filter"></i> Filter
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="bugsMenu">
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#">All</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" href="#">Mine</a>
			</li>
		</ul>
	</div>
</div>