<div class="panel-bugs">
	<div class="row">
		<div class="col-lg-12">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Created</th>
						<th>In Progress</th>
						<th>Testing</th>
						<th>Fixed</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td highlightable status="created" droppable ticket-container>
							<div ng-repeat="ticket in createdTickets | filter:'bug'">
								<ticket type="bug" ng-if="ticket.username === username || displayAll"></ticket>
							</div>
						</td>
						<td highlightable status="in_progress" droppable ticket-container>
							<div ng-repeat="ticket in inProgressTickets | filter:'bug'">
								<ticket type="bug" ng-if="ticket.username === username || displayAll"></ticket>
							</div>
						</td>
						<td highlightable status="testing" droppable ticket-container>
							<div ng-repeat="ticket in testingTickets | filter:'bug'">
								<ticket type="bug" ng-if="ticket.username === username || displayAll"></ticket>
							</div>
						</td>
						<td highlightable status="done" droppable ticket-container>
							<div ng-repeat="ticket in doneTickets | filter:'bug'">
								<ticket type="bug" ng-if="ticket.username === username || displayAll"></ticket>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div ng-include="templateCreate.url"></div>
<div ng-include="templateEdit.url"></div>
<div ng-include="templateDelete.url"></div>
