<div class="panel">
	<div class="row">
		<div class="col-lg-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					Workload
					<span class="pull-right"><i class="fa fa-minus" data-toggle="collapse" data-target="#panel-workload" collapsible-icon></i></span>
				</div>
				<div class="panel-body" id="panel-workload" ng-init="chart()"></div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					Tasks
					<span class="pull-right"><i class="fa fa-minus" data-toggle="collapse" data-target="#panel-tasks" collapsible-icon></i></span>
				</div>
				<div id="panel-tasks" class="panel-body collapse in">
					<div class="label label-info" ng-repeat="ticket in tickets | filter:'task' | filter: username">
						{{ticket.code}} | {{ticket.title}}
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Bugs
					<span class="pull-right"><i class="fa fa-minus" data-toggle="collapse" data-target="#panel-bugs" collapsible-icon></i></span>
				</div>
				<div id="panel-bugs" class="panel-body collapse in">
					<div class="label label-danger" ng-repeat="ticket in tickets | filter:'bug' | filter: username">
						{{ticket.code}} | {{ticket.title}}
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Activity
					<span class="pull-right"><i class="fa fa-minus" data-toggle="collapse" data-target="#panel-activity" collapsible-icon></i></span>
				</div>
				<div class="panel-body" id="panel-activity">
					<p ng-repeat="entry in logEntries">
						<span class="badge alert-success">{{entry.user}}</span> {{entry.action}}
						<strong ng-show="entry.amount">{{entry.amount}} hrs.</strong>
						<span ng-hide="entry.action === 'deleted'">on</span>
						<span class="badge" ng-class="entry.targetType === 'bug' ? 'alert-danger' : 'alert-info'">{{entry.target}}</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
