<div class="panel">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Bugs
					<i class="fa fa-times"></i></span>
				</div>
				<div class="panel-body">
					<span class="label label-danger">IS-312 | Email Validation Not Working<i class="fa fa-times"></i></span>
					<span class="label label-danger">IS-312 | Authentication Whitespace Handling<i class="fa fa-times"></i></span>
					<span class="label label-success">IS-312 | Registration Page Header Missing<i class="fa fa-times"></i></span>
					<span class="label label-danger">IS-312 | Minor CSS Alignment Bug<i class="fa fa-times"></i></span>
					<span class="label label-warning">IS-312 | Yen Currency Conversion<i class="fa fa-times"></i></span>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Tasks
					<span class="pull-right"><i class="fa fa-times"></i></span>
				</div>
				<div class="panel-body">
					<span class="label label-info">IS-312 | Implement User Registration Mechanism<i class="fa fa-check"></i></span>
					<span class="label label-info">IS-312 | Implement User Password Reset Functionality<i class="fa fa-check"></i></span>
					<span class="label label-info">IS-312 | Review Currency Conversion Code<i class="fa fa-check"></i></span>
					<span class="label label-info">IS-312 | Plan Review Meeting<i class="fa fa-check"></i></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Burndown Chart
					<span class="pull-right"><i class="fa fa-times"></i></span>
				</div>
				<div class="panel-body" id="chart" ng-init="chart()">
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Team
					<span class="pull-right"><i class="fa fa-times"></i></span>
				</div>
				<div class="panel-body">
					<div class="badge alert-success">mlawrence</div>
					<div class="badge alert-success">athompson</div>
					<div class="badge alert-success">psmith</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Activity
					<span class="pull-right"><i class="fa fa-times"></i></span>
				</div>
				<div class="panel-body">
					<p><span class="badge alert-success">mlawrence</span> commented on issue <span class="badge alert-info">IS-342</span></p>
					<p><span class="badge alert-success">athompson</span> logged 5 hrs. on issue <span class="badge alert-info">IS-318</span></p>
					<p><span class="badge alert-success">psmith</span> deleted issue <span class="badge alert-info">IS-331</span></p>
				</div>
			</div>
		</div>
	</div>
</div>