<div class="panel panel-dashboard">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Workload
					<span class="pull-right">
						<i class="fa fa-minus" data-toggle="collapse" data-target="#panel-workload" collapsible-icon></i>
					</span>
				</div>
				<div class="panel-body panel-body-dashboard collapse in" id="panel-workload">
					<div id="chart">

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 dashboard-panel-right">
			<div class="panel panel-default">
				<div class="panel-heading">
					Recent Tasks
					<span class="pull-right">
						<i class="fa fa-minus" data-toggle="collapse" data-target="#panel-tasks" collapsible-icon></i>
					</span>
				</div>
				<div id="panel-tasks" class="panel-body panel-body-dashboard collapse in">
					<div class="ticket ticket-task ticket-code" ng-repeat="ticket in tickets | filter:'task' | filter: username | limitTo: 5">
						TC-{{ticket.code}}
						<span class="ticket-title">{{ticket.title}}</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Recent Bugs
					<span class="pull-right">
						<i class="fa fa-minus" data-toggle="collapse" data-target="#panel-bugs" collapsible-icon></i>
					</span>
				</div>
				<div id="panel-bugs" class="panel-body panel-body-dashboard collapse in">
					<div class="ticket ticket-bug ticket-code" ng-repeat="ticket in tickets | filter:'bug' | filter: username | limitTo: 5">
						TC-{{ticket.code}}
						<span class="ticket-title">{{ticket.title}}</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					Recent Activity
					<span class="pull-right">
						<i class="fa fa-minus" data-toggle="collapse" data-target="#panel-activity" collapsible-icon></i>
					</span>
				</div>
				<div class="panel-body panel-body-dashboard collapse in" id="panel-activity">
					<div ng-repeat="entry in dashboard.logEntries | limitTo: 5">
						<div class="log">
							<i class="fa fa-fw fa-{{entry.action}}"></i>
							<span class="log-user">{{entry.username}}</span>
							<span class="log-target ticket-{{entry.targetType}}">{{entry.target}}</span>
							<span class="log-amount" ng-if="entry.amount">{{entry.amount}} hrs.</span>
							<span class="log-comment" ng-if="entry.comment"><em>"{{entry.comment}}"</em></span>
						</div>
						<span class="log-timestamp">{{entry.timestamp | momentInTime}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
