<div class="row login-form">
	<div class="col-sm-5"></div>
	<div class="col-sm-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				Login
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-12">
							<input type="email" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="password" class="form-control" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button ng-click="navigate('dashboard')" class="btn btn-default">
								Sign in
							</button>
						</div>
					</div>
					<div class="col-sm-12">
						<a href='#'>Forgot password?</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-sm-5"></div>
</div>