<div class="row login-form">
	<div class="col-md-5"></div>
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Login
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-md-12">
							<input type="email" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<input type="password" class="form-control" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<button class="btn btn-default form-control" ng-click="login()">
								Sign in
							</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<button class="btn btn-default form-control" data-toggle="modal" data-target="#register-modal">
								Register
							</button>
						</div>
					</div>
					<div class="col-md-12">
						<a>Forgot password?</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-5"></div>
</div>

<div ng-include="templateRegister.url"></div>
<div ng-include="templateRegisterSuccess.url"></div>
