<nav class="navbar navbar-default" role="navigation" ng-show="auth">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Issue Tracker</a>
			<ul class="nav navbar-nav">
				<li class="active">
					<a ng-click="navigate('dashboard')">Home</a>
				</li>
				<li>
					<a ng-click="navigate('tasks')">Tasks</a>
				</li>
				<li>
					<a ng-click="">Bugs</a>
				</li>
				<li>
					<a ng-click="">Statistics</a>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li>
					<a ng-click="navigate('profile')">Profile</a>
				</li>
				<li>
					<a ng-click="">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>