<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="auth">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Issue Tracker</a>
			<ul class="nav navbar-nav">
				<li class='toggleable'>
					<a ng-click="navigate('dashboard')"><i class="fa fa-home"></i>Dashboard</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('tasks')"><i class="fa fa-tasks"></i>Tasks</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('bugs')"><i class="fa fa-bug"></i>Bugs</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('statistics')"><i class="fa fa-bar-chart-o"></i>Statistics</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('team')"><i class="fa fa-users"></i>Team</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('profile')"><i class="fa fa-user"></i>Profile</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('settings')"><i class="fa fa-cog"></i>Settings</a>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li>
					<a ng-click="logout()"><i class="fa fa-power-off"></i>Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>