<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="auth">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Issue Tracker</a>
			<ul class="nav navbar-nav">
				<li>
					<a class="fa fa-bars" data-toggle="dropdown"></a>
					<ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="tasksMenu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#ticket-modal">{{createAction}}</a>
						</li>
						<li role="presentation" class="divider"></li>
						<li role="presentation" class="dropdown-header">
							Filtering
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="displayAll = true">All <i ng-show="displayAll" class="fa fa-check"></i></a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" ng-click="displayAll = false">Mine <i ng-show="!displayAll" class="fa fa-check"></i></a>
						</li>
					</ul>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('dashboard')"><i class="fa fa-home"></i>Dashboard</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('tasks')"><i class="fa fa-tasks"></i>Tasks</a>
				</li>             
                <li class='toggleable'>
					<a ng-click="navigate('bugs')"><i class="fa fa-bug"></i>Bugs</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('statistics')"><i class="fa fa-bar-chart-o"></i>Statistics</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('team')"><i class="fa fa-users"></i>Team</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('profile')"><i class="fa fa-user"></i>Profile</a>
				</li>
				<li class='toggleable'>
					<a ng-click="navigate('settings')"><i class="fa fa-cog"></i>Settings</a>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search Ticket">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li>
					<a ng-click="logout()"><i class="fa fa-power-off"></i>Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>