<div class="panel">
	<div class="row">
		<div class="col-lg-4 row">
			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						User Information
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-10 form-group">
								<img src="./img/profile.png" class="img-responsive img-thumbnail" />
							</div>
							<div class="col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<form role="form">
									<div class="form-group">
										<label for="user-first-name">First Name</label>
										<input id='user-first-name' class="form-control input-sm" type="text" placeholder="Andrei" />
									</div>
									<div class="form-group">
										<label for="user-last-name">Last Name</label>
										<input id='user-last-name' class="form-control input-sm" type="text" placeholder="Bucin" />
									</div>
									<div class="form-group">
										<label for="user-email">Email Address</label>
										<input id='user-email' class="form-control input-sm" type="email" placeholder="abucin@gmail.com" />
									</div>
									<div class="form-group">
										<label for="user-project">Project</label>
										<select class="form-control input-sm" id="user-project">
											<option>issue-tracker</option>
											<option>email-client</option>
										</select>
									</div>
									<div class="form-group">
										<label for="user-project">Role</label>
										<select class="form-control input-sm" id="user-role">
											<option>Admin</option>
											<option>Product Owner</option>
											<option>Developer</option>
											<option>Tester</option>
										</select>
									</div>
									<button class="btn btn-default form-control" type="button">
										Apply
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>