<table class="table table-condensed">
	<thead>
		<tr>
			<th>Created</th>
			<th>In Progress</th>
			<th>Testing</th>
			<th>Done</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="label label-info">IS-312 | Plan Review Meeting<i class="fa fa-check"></i></span></td>
			<td><span class="label label-info">IS-218 | Remove CHF currency<i class="fa fa-check"></i></span></td>
			<td><span class="label label-info">IS-437 | Add French Localization<i class="fa fa-check"></i></span></td>
			<td><span class="label label-info">IS-121 | Clean up login code<i class="fa fa-check"></i></span></td>
		</tr>
		<tr>
			<td></td>
			<td><span class="label label-info">IS-772 | Implement User Password Reset Functionality<i class="fa fa-check"></i></span></td>
			<td></td>
			<td><span class="label label-info">IS-224 | Configure Web Environment<i class="fa fa-check"></i></span></td>
		</tr>
	</tbody>
</table>
<div data-toggle="modal" data-target="#ticket-modal">
	<i class="fa fa-plus-circle"></i> Create Task
</div>
<div class="radio-inline">
	<label>
		<input type="radio">
		All </label>
</div>
<div class="radio-inline">
	<label>
		<input type="radio">
		Mine </label>
</div>

<!-- Modal dialog code -->

<div class="modal fade" id="ticket-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">Create Task</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-md-12">
							<label for="taskName">Name</label>
							<input id="taskName" type="text" class="form-control" placeholder="Name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="taskDescription">Description</label>
							<textarea id="taskDescription" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="taskAssignee">Assignee</label>
							<input id="taskAssignee" type="text" class="form-control" placeholder="Assignee">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default">
					Create
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->