<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Created</th>
					<th>In Progress</th>
					<th>Testing</th>
					<th>Done</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td highlightable>
						<ul status="created">
							<li ng-repeat="ticket in createdTickets | filter:'task'" droppable>
								<ticket task ng-if="ticket.username === username || displayAll"></ticket>
							</li>
						</ul>
					</td>
					<td highlightable>
						<ul status="in_progress">
							<li ng-repeat="ticket in inProgressTickets | filter:'task'" droppable>
								<ticket task ng-if="ticket.username === username || displayAll"></ticket>
							</li>
						</ul>
					</td>
					<td highlightable>
						<ul status="testing">
							<li ng-repeat="ticket in testingTickets | filter:'task'" droppable>
								<ticket task ng-if="ticket.username === username || displayAll"></ticket>
							</li>
						</ul>
					</td>
					<td highlightable>
						<ul status="done">
							<li ng-repeat="ticket in doneTickets | filter:'task'" droppable>
								<ticket task ng-if="ticket.username === username || displayAll"></ticket>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div ng-include="templateCreate.url"></div>
<div ng-include="templateEdit.url"></div>
<div ng-include="templateDelete.url"></div>
