<div class="row">
	<div class="col-lg-12">
		<table class="table table-condensed table-extra-condensed">
			<thead>
				<tr>
					<th>Username</th>
					<th>Role</th>
					<th>Overhead</th>
					<th>Logged vs. Estimated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td><span class="badge alert-success">{{user.username}}</span></td>
					<td><span class="badge alert-info">{{user.role | capitalize}}</span></td>
					<td><overhead tasks="user.tasks"></overhead></td>
					<td><time></time></td>
					<td><i class='fa fa-times'></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<ul class="pagination">
			<li>
				<a href="#">&laquo;</a>
			</li>
			<li>
				<a href="#">1</a>
			</li>
			<li>
				<a href="#">2</a>
			</li>
			<li>
				<a href="#">3</a>
			</li>
			<li>
				<a href="#">4</a>
			</li>
			<li>
				<a href="#">5</a>
			</li>
			<li>
				<a href="#">&raquo;</a>
			</li>
		</ul>
	</div>
	<div class="col-lg-4"></div>
</div>