<div class="panel panel-team">
	<div class="row">
		<div class="col-lg-2 secondary-menu">
			<ul class="nav">
				<li class="header">
					Members
				</li>
				<li class="toggleable active"><i class="chart-icon fa fa-terminal"></i>abucin</li>
				<li class="toggleable"><i class="chart-icon fa fa-star"></i>athompson</li>
				<li class="toggleable"><i class="chart-icon fa fa-terminal"></i>mlawrence</li>
				<li class="toggleable"><i class="chart-icon fa fa-bug"></i>psmith</li>
			</ul>
		</div>
		<div class="col-lg-10">
			<p><strong>Role:</strong> {{user.role | capitalize}}
				<br>
				<strong>Project:</strong> {{user.project}}
				<br>
				<strong>Overhead:</strong> 2/8
				<br>
				<strong>Effort vs. Estimation:</strong> 100/200
			</p>
		</div>
	</div>
</div>
