<div class="panel panel-team">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 secondary-menu">
			<ul class="nav">
				<li class="header">
					Members
				</li>
				<li class="toggleable" ng-repeat="user in users" ng-click="selectTeamMember(user)" ng-class="(user.username === username) ? 'active': ''"><i class="chart-icon fa fa-fw fa-{{getRoleIcon(user.projectRole)}}"></i>{{user.username}}</li>
				<li class="toggleable text-center"><i class="chart-icon fa fa-fw fa-plus"></i>
				</li>
			</ul>
		</div>
		<div class="col-lg-10 col-md-4 col-sm-9 col-xs-8">
			<p>
				<img ng-if="selectedTeamMember.username.length" ng-src="./img/{{selectedTeamMember.username}}.jpg" class="img-responsive img-thumbnail" width="100" />
				<br>
				<strong>Role:</strong> {{selectedTeamMember.projectRole | capitalize}}
				<br>
				<strong>Expertise:</strong> {{selectedTeamMember.expertise}}
				<br>
				<strong>Open Tickets:</strong> {{getOpenTickets()}}
				<br>
				<strong>Effort-Estimation Ratio:</strong> {{getEffortEstimationRatio()}}
				<br>
				<strong>Latest Tickets:</strong>
				<span class="ticket ticket-{{ticket.type}} ticket-code" ng-repeat="ticket in tickets | filter: selectedTeamMember.username | limitTo: 5">
					TC-{{ticket.code}}
					<span class="ticket-title">{{ticket.title}}</span>
				</span>
				<br>
				<strong>Latest Comments:</strong>
					<p ng-repeat="comment in selectedTeamMember.comments | limitTo: 5"><i class="fa fa-angle-double-right"></i>"{{comment.content}}" <strong>({{comment.timestamp | date:'yyyy-MM-dd HH:mm:ss'}})</strong>
					</p>
			</p>
		</div>
	</div>
</div>
