<div class="panel-tickets">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Created</th>
						<th>In Progress</th>
						<th>Testing</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td highlightable status="created" droppable ticket-container>
							<div ng-repeat="ticket in tickets.created">
								<ticket ng-if="filterTicket(ticket.owner)"></ticket>
							</div>
						</td>
						<td highlightable status="inProgress" droppable ticket-container>
							<div ng-repeat="ticket in tickets.inProgress">
								<ticket ng-if="filterTicket(ticket.owner)"></ticket>
							</div>
						</td>
						<td highlightable status="testing" droppable ticket-container>
							<div ng-repeat="ticket in tickets.testing">
								<ticket ng-if="filterTicket(ticket.owner)"></ticket>
							</div>
						</td>
						<td highlightable status="done" droppable ticket-container>
							<div ng-repeat="ticket in tickets.done">
								<ticket ng-if="filterTicket(ticket.owner)"></ticket>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div ng-include="templateCreate.url"></div>
<div ng-include="templateEdit.url"></div>
<div ng-include="templateDelete.url"></div>
