/**
 * Layout constants.
 */
@border-width: 1px;
@menu-border-radius: .2em;
@modal-md-max-width: 450px;
@ticket-border-radius: .3em;

/**
* Spacing constants.
*/
@spacing-large: 15px;
@spacing-large-x: 25px;
@spacing-medium: 10px;
@spacing-small: 5px;
@spacing-small-x: 3px;

/**
* Typography constants.
*/
@font-size-large: 16px;
@font-size-large-x: 18px;
@font-size-medium: 14px;
@font-size-small: 12px;
@font-weight-heavy: 500;
@font-weight-light: 300;
@font-weight-normal: 400;
