<!-- Modal dialog code -->

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">Register Account</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<p>
						All the fields are mandatory.
					</p>
					<div class="form-group">
						<div class="col-md-12">
							<label for="registerUsername">Username</label>
							<input id="registerUsername" type="text" class="form-control" placeholder="Username" ng-model="registrationData.username">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="registerPassword">Password</label>
							<input id="registerPassword" type="password" class="form-control" placeholder="Password" ng-model="registrationData.password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="registerConfirmedPassword">Confirmed Password</label>
							<input id="registerConfirmedPassword" type="password" class="form-control" placeholder="Confirmed Password" ng-model="registrationData.confirmedPassword">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="registerEmailAddress">Email Address</label>
							<input id="registerEmailAddress" type="email" class="form-control" placeholder="Email Address" ng-model="registrationData.email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="registerFirstName">First Name</label>
							<input id="registerFirstName" type="text" class="form-control" placeholder="First Name" ng-model="registrationData.firstName">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="registerEmailAddress">Last Name</label>
							<input id="registerEmailAddress" type="text" class="form-control" placeholder="Last Name" ng-model="registrationData.lastName">
						</div>
					</div>
				</form>
				<div class="alert alert-danger" ng-show="general.errors.length">
					<ul>
						<li ng-repeat="error in general.errors">{{error.message}}</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
				<button type="button" class="btn btn-primary" ng-click="register()">
					Submit
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
