<h4>Available Users</h4>
<ul class="list-group">
	<li class="list-group-item list-group-item-text">
		<i class="fa fa-minus fa-fw"></i> abucin
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> psmith
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> athompson
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> mlawrence
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> rgreen
	</li>
	<li class="list-group-item list-group-item-success">
		<i class="fa fa-plus fa-fw"></i> Add User
	</li>
</ul>

<h4>Available Roles</h4>
<ul class="list-group">
	<li class="list-group-item list-group-item-text">
		<i class="fa fa-minus fa-fw"></i> Admin
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> Developer
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> Tester
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> Product Owner
	</li>
	<li class="list-group-item list-group-item-success">
		<i class="fa fa-plus fa-fw"></i> Add Role
	</li>
</ul>
