<h4>Dashboard</h4>
<li class="list-group-item list-group-item-info">
	<label for="user-project">Project</label>
	<select class="form-control input-sm" id="user-project">
		<option>issue-tracker</option>
		<option>email-client</option>
	</select>
</li>
<li class="list-group-item form-group list-group-item-info">
	<label for="user-project">Role</label>
	<select class="form-control input-sm" id="user-role">
		<option>Admin</option>
		<option>Product Owner</option>
		<option>Developer</option>
		<option>Tester</option>
	</select>
</li>
<li class="list-group-item list-group-item-danger">
	<i class="fa fa-refresh fa-fw"></i>  <strong>Reset Password</strong>
</li>
<ul class="list-group">
	<li class="list-group-item list-group-item-success">
		<i class="fa fa-check fa-fw"></i> Display User Activity
	</li>
	<li class="list-group-item list-group-item-success">
		<i class="fa fa-check fa-fw"></i> Display User List
	</li>
</ul>
