<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>Action</th>
        <th>User</th>
        <th>Target</th>
        <th>Amount</th>
        <th>Comment</th>
        <th>Timestamp</th>
    </tr>
    </thead>
    <tbody ng-init="loadLogData">
    <tr ng-repeat="entry in dashboard.logEntries" class="log">
        <td>
            <div><i class="fa fa-fw fa-{{entry.action}}"></i></div>
        </td>
        <td><div class="log-user">{{entry.username}}</div></td>
        <td><div class="log-target ticket-{{entry.targetType}}-inverted">TC-{{entry.target}}</div></td>
        <td><div class="log-amount" ng-if="entry.amount">{{entry.amount}} hrs.</div></td>
        <td><div class="log-comment" ng-if="entry.comment"><em>"{{entry.comment | abbreviate}}"</em></div></td>
        <td><div class="log-timestamp">{{entry.timestamp | date : 'dd-MM-yyyy hh:mm:ss'}}</div></td>
    </tr>
    </tbody>
</table>
