<h4>Avatar</h4>
<div class="col-sm-12 form-group">
	<img src="./img/profile.jpg" class="img-responsive img-thumbnail" />
</div>
<h4>Profile</h4>
<ul class="list-group">
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-edit fa-fw"></i> First Name: <strong>{{settingsData.firstName}}</strong>
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-edit fa-fw"></i> Last Name: <strong>{{settingsData.lastName}}</strong>
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-edit fa-fw"></i> Email Address: <strong>{{settingsData.email}}</strong>
	</li>
</ul>
