<h4>Avatar</h4>
<div class="col-sm-12 form-group">
	<img src="./img/{{getAuthenticatedUser().username}}.jpg" class="img-responsive img-thumbnail" width="150" />
</div>
<h4>Profile</h4>
<ul class="nav list-unstyled">
	<li>
		<strong>First Name:</strong>
		<span ng-show="!edit.firstName"> {{editedUser.firstName}} </span>
		<span ng-show="edit.firstName"><input type="text" ng-model="editedUser.firstName" /></span>
		<i ng-show="!edit.firstName" class="fa fa-edit fa-fw" ng-click="edit.firstName = true"></i>
		<i ng-show="edit.firstName" class="fa fa-check fa-fw" ng-click="edit.firstName = false; updateUser()"></i>
		<i ng-show="edit.firstName" class="fa fa-times fa-fw" ng-click="edit.firstName = false"></i>
	</li>
	<li>
		<strong>Last Name:</strong>
		<span ng-show="!edit.lastName"> {{editedUser.lastName}} </span>
		<span ng-show="edit.lastName"><input type="text" ng-model="editedUser.lastName" /></span>
		<i ng-show="!edit.lastName" class="fa fa-edit fa-fw" ng-click="edit.lastName = true"></i>
		<i ng-show="edit.lastName" class="fa fa-check fa-fw" ng-click="edit.lastName = false; updateUser()"></i>
		<i ng-show="edit.lastName" class="fa fa-times fa-fw" ng-click="edit.lastName = false"></i>
	</li>
	<li>
		<strong>Email Address:</strong>
		<span ng-show="!edit.email"> {{editedUser.email}} </span>
		<span ng-show="edit.email"><input type="text" ng-model="editedUser.email" /></span>
		<i ng-show="!edit.email" class="fa fa-edit fa-fw" ng-click="edit.email = true"></i>
		<i ng-show="edit.email" class="fa fa-check fa-fw" ng-click="edit.email = false; updateUser()"></i>
		<i ng-show="edit.email" class="fa fa-times fa-fw" ng-click="edit.email = false"></i>
	</li>
	<li>
		<strong>Expertise:</strong>
		<span ng-show="!edit.expertise"> {{editedUser.expertise}} </span>
		<span ng-show="edit.expertise"><input type="text" ng-model="editedUser.expertise" /></span>
		<i ng-show="!edit.expertise" class="fa fa-edit fa-fw" ng-click="edit.expertise = true"></i>
		<i ng-show="edit.expertise" class="fa fa-check fa-fw" ng-click="edit.expertise; updateUser()"></i>
		<i ng-show="edit.expertise" class="fa fa-times fa-fw" ng-click="edit.expertise = false"></i>
	</li>
</ul>
