<h4>Available Projects</h4>
<ul class="list-group">
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> issue-tracker
	</li>
	<li class="list-group-item list-group-item-warning">
		<i class="fa fa-times fa-fw"></i> email-client
	</li>
	<li class="list-group-item list-group-item-success">
		<i class="fa fa-plus fa-fw"></i> Add Project
	</li>
</ul>

<h4>Team</h4>
<ul class="list-group">
	<li class="list-group-item list-group-item-success">
		<i class="fa fa-check fa-fw"></i> Display User Role
	</li>
	<li class="list-group-item list-group-item-success">
		<i class="fa fa-check fa-fw"></i> Display User Estimates
	</li>
	<li class="list-group-item list-group-item-danger">
		<i class="fa fa-times fa-fw"></i> Display User Email
	</li>
</ul>
