<h4>Available Projects</h4>
<ul class="list-unstyled list-projects">
	<li>
		<span ng-show="!edit.project"> {{general.project}} </span>
		<span ng-show="edit.project"><input type="text" ng-model="general.project" /></span>
		<i ng-show="!edit.project" class="fa fa-edit fa-fw" ng-click="edit.project = true"></i>
		<i ng-show="edit.project" class="fa fa-check fa-fw" ng-click="edit.project = false; updateProject()"></i>
		<i ng-show="edit.project" class="fa fa-times fa-fw" ng-click="edit.project = false"></i>
	</li>
</ul>
<h4>Ticket Prefix</h4>
<ul class="list-unstyled list-projects">
	<li>
		<span ng-show="!edit.project"> ITR </span>
		<span ng-show="edit.project"><input type="text" ng-model="general.project" /></span>
		<i ng-show="!edit.project" class="fa fa-edit fa-fw" ng-click="edit.project = true"></i>
		<i ng-show="edit.project" class="fa fa-check fa-fw" ng-click="edit.project = false; updateProject()"></i>
		<i ng-show="edit.project" class="fa fa-times fa-fw" ng-click="edit.project = false"></i>
	</li>
</ul>