<!--
<h4>Users</h4>
<ul class="list-unstyled">
	<li ng-repeat="user in users">
		{{user.username}} <i class="fa fa-times fa-fw"></i>
	</li>
</ul>
-->

<h4>Team</h4>
<ul class="list-unstyled">
	<li ng-click="setGlobalSettings('displayUserRole', !getSettings().displayUserRole)">
		<i class="fa fa-fw" ng-class="computeToggle(getSettings().displayUserRole)"></i> Display User Role
	</li>
	<li ng-click="setGlobalSettings('displayUserEmail', !getSettings().displayUserEmail)">
		<i class="fa fa-fw" ng-class="computeToggle(getSettings().displayUserEmail)"></i> Display User Email
	</li>
</ul>
