<ul class="nav navbar-nav text-center" ng-show="menu.hasDropdown">
	<li>
		<a class="fa fa-bars" data-toggle="dropdown"></a>
		<ul class="dropdown-menu dropdown-menu-left text-left" role="menu" aria-labelledby="ticketsMenu">
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="showTicketCreationModal()">Create Ticket</a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="tickets.isDeleting = true">Delete Ticket</a>
			</li>
			<li role="presentation" class="divider"></li>
			<li role="presentation" class="dropdown-header">
				Owner
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="menu.filters.byTicketOwner = 'all'">All
                                <i ng-show="menu.filters.byTicketOwner === 'all'" class="fa fa-check"></i>
                            </a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="menu.filters.byTicketOwner = 'mine'">Mine
                                <i ng-show="menu.filters.byTicketOwner === 'mine'" class="fa fa-check"></i>
                            </a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="menu.filters.byTicketOwner = 'unassigned'">Unassigned
                                <i ng-show="menu.filters.byTicketOwner === 'unassigned'" class="fa fa-check"></i>
                            </a>
			</li>
			<li role="presentation" class="divider"></li>
			<li role="presentation" class="dropdown-header">
				Priority
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="menu.filters.byTicketPriority = 'all'">All
                                <i ng-show="menu.filters.byTicketPriority === 'all'" class="fa fa-check"></i>
                            </a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="menu.filters.byTicketPriority = 'major'">Major
                                <i ng-show="menu.filters.byTicketPriority === 'major'" class="fa fa-check"></i>
                            </a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="menu.filters.byTicketPriority = 'normal'">Normal
                                <i ng-show="menu.filters.byTicketPriority === 'normal'" class="fa fa-check"></i>
                            </a>
			</li>
			<li role="presentation">
				<a role="menuitem" tabindex="-1" ng-click="menu.filters.byTicketPriority = 'minor'">Minor
                                <i ng-show="menu.filters.byTicketPriority === 'minor'" class="fa fa-check"></i>
                            </a>
			</li>
		</ul>
	</li>
</ul>
