.panel.panel-team
    .row
        .col-lg-2.col-md-2.col-sm-3.col-xs-5.secondary-menu
            ul.nav
                li.header Members
                li.toggleable(ng-repeat="user in users | filter: getAuthenticatedUser().project" ng-click="selectTeamMember(user.key)" ng-class="(user.username === username) ? 'active': ''")
                    i.fa.fa-fw.chart-icon(class="fa-{{general.roleIcon[user.projectRole]}}")
                    | {{user.username}}
                    i.fa.fa-times(ng-click="project.unset(user.username, $event)" ng-show="getAuthenticatedUser().role === 'admin' && getAuthenticatedUser().username !== user.username")
                li.toggleable.text-center(ng-show="getAuthenticatedUser().role === 'admin'" ng-click="getUnassignedUsers()" data-toggle="modal" data-target="#user-assignment-modal")
                    i.fa.fa-fw.fa-plus.chart-icon
        .col-lg-10.col-md-4.col-sm-9.col-xs-7
            img.img-responsive.img-thumbnail(ng-if="selectedTeamMember.username.length" ng-src="./img/{{selectedTeamMember.username}}.jpg" width="100")
            h4 Contact
            .team-details
                strong Username:
                span(ng-bind="selectedTeamMember.username")
                br
                strong First Name:
                span(ng-bind="selectedTeamMember.firstName")
                br
                strong Last Name:
                span(ng-bind="selectedTeamMember.lastName")
                br
                span(ng-if="getSettings().displayUserEmail")
                    strong Email Address:
                    span(ng-bind="selectedTeamMember.email")
            h4 Project
            .team-details
                strong Name:
                span(ng-bind="selectedTeamMember.project | capitalize")
                br
                span(ng-if="getSettings().displayUserRole")
                    strong Role:
                    span(ng-bind="selectedTeamMember.projectRole | capitalize")
                    br
                strong Expertise:
                span(ng-bind="selectedTeamMember.expertise")
                br
                strong Open Tickets:
                span(ng-bind="getOpenTickets()")
                br
                strong Effort-Estimation Ratio:
                span(ng-bind="getEffortEstimationRatio()")
            h4 Activity
            .team-details
                strong Latest Tickets:
                span.ticket.ticket-code(class="ticket-{{ticket.type}}" ng-repeat="ticket in userTickets | filter: selectedTeamMember.username | limitTo: 5") TC-{{ticket.code}}
                    span.ticket-title(ng-bind="ticket.title")
                br
                strong Latest Comments:
                p(ng-repeat="comment in selectedTeamMember.comments | limitTo: 5")
                    i.fa.fa-angle-double-right
                    | "{{comment.content}}"
                    strong (
                        span(ng-bind="comment.timestamp | date:'yyyy-MM-dd HH:mm:ss'")
                        | )
div(ng-include="templateUserAssignModal.url")