<!-- User assignment modal -->

<div class="modal fade" id="user-assignment-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" role="form" name="userAssignmentForm" ng-submit="setProject(unassignedUser.username, userAssignmentForm.$valid)" novalidate>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">Select User</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" ng-class="{ 'has-error' : userAssignmentForm.availableUsers.$invalid && !loginForm.availableUsers.$pristine && submitted }">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">Available Users</span>
								<select class="form-control" name="availableUsers" ng-model="unassignedUser.username" ng-required="true">
									<option ng-repeat="u in unassignedUsers">{{u.username}}</option>
								</select>
							</div>
							<p ng-show="userAssignmentForm.availableUsers.$error.required && submitted"><i class="fa fa-warning"></i>A user must be selected.</p>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="dismissUserAssignmentModal()">
						Cancel
					</button>
					<button type="submit" class="btn btn-primary">
						Select
					</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
