<!-- Ticket creation modal -->

<div class="modal fade" id="ticket-creation-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form class="form-horizontal" role="form" name="ticketCreateForm" ng-submit="addTicket(ticketCreateForm.$valid)" novalidate>
				<div class="modal-header">
					<button type="button" class="close" ng-click="hideTicketCreationModal()" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">Create Ticket</h4>
				</div>
				<div class="modal-body">
					<div class="form-group" ng-class="{ 'has-error' : ticketCreateForm.title.$invalid && !ticketCreateForm.title.$pristine && submitted }">
						<div class="col-md-12">
							<div class="input-group">
								<span class="input-group-addon">Title</span>
								<input type="text" class="form-control" name="title" placeholder="Title" ng-model="ticket.title" ng-required="true">
							</div>
							<p ng-show="ticketCreateForm.title.$error.required && submitted"><i class="fa fa-warning"></i>Title is required.</p>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<label for="ticketDescription">Description</label>
							<textarea id="ticketDescription" class="form-control" ng-model="ticket.description"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">Initial Estimate</span>
								<input type="number" class="form-control" min="0" step="0.5" placeholder="0" ng-model="ticket.estimatedTime" />
								<span class="input-group-addon">h</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<div class="input-group">
								<span class="input-group-addon">Assignee</span>
								<input type="text" class="form-control" ng-model="ticket.user" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<div class="input-group">
								<span class="input-group-addon">Type</span>
								<select class="form-control" ng-model="ticket.type">
									<option>task</option>
									<option>bug</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-5">
							<div class="input-group">
								<span class="input-group-addon">Priority</span>
								<select class="form-control" ng-model="ticket.priority">
									<option>major</option>
									<option>standard</option>
									<option>minor</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
							<button type="button" class="btn btn-default form-control" ng-click="hideTicketCreationModal()">
								Cancel
							</button>
						</div>
						<div class="col-md-4">
							<button type="submit" class="btn btn-primary form-control">
								Create
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
